# dot files
/.settings
/.agents
/.vscode
/.github
/bootLoader
/.eide/log
/.eide.usr.ctx.json
/.pack

# project out
/build
/bin
/obj
/out


#MDK
/MDK

# eide template
*.ept
*.eide-template

#clangd
.clang-format
.clangd

#STM32CubeIDE
.project
GBK2UTF8-result-63840.md
